@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
    --main-accent-color: #03bad5;
    --section-title-color-dark: #37474f;
    --body-color: #495057;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}

.btn-white{
    border: 2px solid #fff;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1rem;
    padding: 0 2rem;
    margin-left: 1rem;
}

.btn-white:hover{
    background-color: #fff;
    color: var(--main-accent-color);
    border: 2px solid #fff;
}

/* section title */
.section-title{
  position: relative;  
}

h2.section-title-heading{
    color: var(--section-title-color-dark);
    padding-top: 2rem;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.8rem;
}

.section-title::after{
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--main-accent-color);
    width: 8%;
    top: 80px;
}

.section-title:hover::after{
    width: 12%;
    transition: all 0.6s ease-out;
}


/*****=====NAVIGATION====*/
.navbar{
    padding-top: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 .85rem;
    letter-spacing: .1rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #27778b;
}

.navbar.active {
    background-color: rgba(0,172,217, 0.7);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
}

/*****=====Hero section ====*/
#hero {
    background-image: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174,0.52)), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 6rem;
    position: relative;
}

#hero::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 100%;
    height: 15%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    left: 0;
}

.main-hero-content h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.main-hero-content p {
    color: white;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.image-box img {
    position: absolute;
    top: 2rem;
    z-index: 1;
}

/*========About section icons========*/
#blanca i {
    color: var(--main-accent-color);
}

#blanca h3 {
    color: var(--section-title-color-dark);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#blanca p {
    color: var(--body-color);
    font-size: 1rem;
    line-height: 1.7rem;
}

#blanca {
    position: relative;
    padding-bottom: 8rem;
}

#blanca::after {
    content: '';
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 15%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: -50px;
    right: 0;
    left: 0;
}

/* ============ cotizaciones =============== */

#ordenes {
    background-color: #fafafa;
    padding-bottom: 6rem;
    margin-top: 3rem;
}

#ordenes img {
    display: block;
    margin: 0 auto;
}

#ordenes .feature-block {
    text-align: center;
}

#ordenes .feature-block h3 {
    color: var(--section-title-color-dark);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#ordenes .feature-block img {
    padding-bottom: 1rem;
}

#ordenes .feature-block p {
    color: var(--body-color);
    font-size: 1rem;
    line-height: 1.7rem;
}



/* ============ Footer =============== */
#footer {
    background-color: #2b323f;
    padding-top: 6rem;
    padding-bottom: 2rem;
    position: relative;
    /*margin-top: 8rem*/;
}

#footer::before {
    content: '';
    position: absolute;
    background-color: #2b323f;
    width: 100%;
    height: 45%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -5.5rem;
    right: 0;
    left: 0;
}

#footer .footer-logo img {
    margin-top: -4.5rem;
}

#footer .social-icons {
    margin-top: -1rem;
}

#footer .social-icons a {
    margin-right: 10px;
    color: #8d8c8c;
}

.copyright p {
    margin-top: 1rem;
    color: #ffffff;
    font-size: .9rem;
}

.btn {
    margin-left: 20px;
}